.markup {

    &__nav {
        padding-top: 23px;
        @media(max-width:767px) {
            display: none;
        }
    }

    &__nav-item {
    }
}
.nav {
    display: flex;
    gap: 4px;
    align-items: center;
}
.nav-item {
    font-size: 16px;
    line-height: 19px;
    color: #7E7E7E;
    &:not(:last-child) {
        &::after {
            content: "/";
        }
    }
    &:last-child {
        color: #2C64EE;
    }
}


.car {

    &__slider {
        display: flex;
        gap: 11px;
        margin-top: 26px;
        @media(max-width:539px) {
            margin-top: 8px;
        }
    }
}
.car-swiper-thumb {
    height: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    @media(max-width:767px) {
        display: none;
    }
    &__slide {
        cursor: zoom-in;
        overflow: hidden;
        border-radius: 5px;
        &:hover {
            & img {
                transform: scale(1.1);
            }
        }
        & img {
            width: 100%;
            border-radius: 5px;
            transition: .2s;
        }
        & span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            font-size: 19.7178px;
            line-height: 23px;
            color: #FFFFFF;
            z-index: 2;
            white-space: nowrap;
        }
        &:last-child {
            cursor: pointer;
            position: relative;
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: rgba(0, 0, 0, 0.8);
                opacity: 0.66;
                border-radius: 4.48131px;
                transform: matrix(-1, 0, 0, 1, 0, 0);
                position: absolute;
            }
        }
    }
}
.car-swiper {
    flex: 0 0 80.5%;
    @media(max-width:767px) {
        flex: 0 0 100%;
    }
    &__wrapper {
        position: relative;
    }
    
    &__slide {
        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }

    &__pagination {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        pointer-events: none;

    }
    &__action {
        background: #FFFFFF;
        border-radius: 5px;
        width: 169px;
        height: 43px;
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        bottom: 14px;
        z-index: 4;
        display: flex;
        justify-content: space-between;
        padding: 10px 17px;
        align-items: center;
        @media(max-width:1023px) {
            display: none;
        }
    }
    &__prev {

    }

    &__next {
    }
}
.prev, .next {
    background: url(../img/icons/prev_black.svg) 0 0 no-repeat;
    background-size: cover;
    background-position: center;
    width: 9px;
    height: 17px;
    cursor: pointer;
    position: relative;
    &::after {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        left: -4px;
        top: -2px;
    }
}
.next {
    transform: rotate(180deg);
}
.car {

    &__header {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        @media(max-width:1023px) {
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
        }
        @media(max-width:539px) {
            gap: 6px;
        }
    }

    &__name {
        font-family: 'Rubik';
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        @media(max-width:1023px) {
            flex: 0 0 100%;
        }
        @media(max-width:539px) {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #272727;
        }
    }

    &__header-lead {
        display: flex;
        gap: 27px;
        align-items: center;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        @media(max-width:1023px) {
            display: none;
        }
    }
    &__header-lead_mob {
        display: flex;
        column-gap: 27px;
        row-gap: 5px;
        align-items: center;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        margin-top: 10px;
        font-weight: 400;
        color: #7E7E7E;
        flex-wrap: wrap;
        @media(max-width:539px) {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            margin-top: 6px;
            justify-content: space-between;
        }
    }
    &__date {
        white-space: nowrap;
    }

    &__watch {
        display: flex;
        gap: 7px;
        align-items: center;
        white-space: nowrap;

    }
}
.characteristics-swiper {
    padding: 30px 6px 6px;
    @media(max-width:767px) {
        padding: 12px 15px 6px;
    }
}
.car {

    &__characteristics {
        padding-top: 57px;
        @media(max-width:767px) {
            padding-top: 25px;
        }
    }

    &__characteristics-col {
        background: #FFFFFF;
        border-radius: 6.02094px;
        padding: 20px;
        width: 265px;
        @media(max-width:539px) {
            width: 221px;
        }
    }
    &__characteristics-item {
        border-bottom: 0.361257px solid #7E7E7E;
        padding-bottom: 5px;
        &:not(:first-child) {
            margin-top: 11px;
            @media(max-width:539px) {
                margin-top: 9px;
            }
        }
        & span {
            color: #7E7E7E;
        }
        & p {
            font-size: 16px;
            line-height: 19px;
            color: #272727;
            margin-top: 6px;
            @media(max-width:539px) {
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                margin-top: 4px;
            }
        }
    }
}

.car {

    &__equipment {
        padding-top: 57px;
        @media(max-width:539px) {
            padding-top: 25px;
        }
    }

    &__equipment-content {
        padding-top: 26px;
        @media(max-width:539px) {
            padding-top: 12px;
        }
    }

    &__equipment-item {
        background: #FFFFFF;
        border-radius: 5px;
        padding-bottom: 23px;
        @media(max-width:539px) {
            padding-bottom: 12px;
            box-shadow: 0px 3px 7px rgba(18, 18, 18, 0.07);
        }
                box-shadow: 0px 3px 7px rgba(18, 18, 18, 0.07);
        &:not(:first-child) {
            margin-top: 10px;
            @media(max-width:539px) {
                margin-top: 5px;
            }
        }
        &.active {
            @media(max-width:539px) {
                padding-bottom: 19px;
            }
            & .car__equipment-item-content {
                display: block;
            }
            & .car__equipment-item-subtitle {
                &::after {
                    transform: rotate(0deg);
                }
            }
        }
    }

    &__equipment-item-subtitle {
        padding: 26px 26px 0px;
        font-family: 'Rubik';
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        cursor: pointer;
        position: relative;
        @media(max-width:539px) {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            padding: 12px 13px 0px;
        }
        &::after {
            content: "";
            position: absolute;
            right: 22px;
            top: 30px;
            background: url(../img/icons/arrow_grey_down.svg) 0 0 no-repeat;
            background-size: cover;
            width: 24px;
            height: 13px;
            transform: rotate(180deg);
            transition: .2s;
            @media(max-width:539px) {
                width: 11px;
                height: 6px;
                right: 18px;
                top: 18px;
            }
        }
    }

    &__equipment-item-content {
        padding-left: 26px;
        padding-right: 26px;
        display: none;
        padding-top: 14px;
        @media(max-width:539px) {
            padding-left: 12px;
            padding-right: 12px;
            padding-top: 0;
        }
    }

    &__equipment-disc {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        border-top: 0.361257px solid #ABABAB;
        padding-top: 16px;
        display: flex;
        gap: 20px;
        @media(max-width:539px) {
            border-top: none;
            padding-top: 11px;
            flex-wrap: wrap;
            gap: 2px;
        }
        &:not(:first-child) {
            margin-top: 15px;
            @media(max-width:539px) {
                margin-top: 0px;
            }
        }
        & span {
            display: flex;
            align-items: center;
            gap: 11px;
            @media(max-width:539px) {
                gap: 7px;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
            }
            &:not(:first-child) {
                margin-top: 8px;
                @media(max-width:539px) {
                    margin-top: 4px;
                }
            }
            &::before {
                content: ".";
                font-weight: 800;
                line-height: 1px;
                margin-top: -10px;
                font-size: 20px;
            }
        }
    }

    &__equipment-disc-subtitle {
        flex: 0 0 21%;
        @media(max-width:539px) {
            font-family: 'Rubik';
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            flex: 0 0 100%;
        }
    }

    &__equipment-lead {
        @media(max-width:539px) {
            padding-left: 9px;
        }
    }
}

.car {
    & .benefit__item {
        @media(min-width:540px) {
            padding: 27px 20px 7px 35px;
        }
    }
    & .benefit-swiper-car-pagination {
        @media(max-width:539px) {
            display: none;
        }
    }
    & .benefit-swiper__slide-subtitle {
        @media(min-width:540px) {
            font-family: 'Rubik';
            font-weight: 600;
            font-size: 22.0618px;
            line-height: 117.52%;
            letter-spacing: 0.04em;
        }
    }
    & .benefit__item_red .benefit-swiper__slide-pic {
        @media(min-width:540px) {
            max-width: 117px;
        }
    }
    & .benefit-swiper__slide-number {
        @media(min-width:540px) {
            font-size: 218.167px;
            line-height: 117.52%;
            letter-spacing: 0.065em;
            right: 36px;
        }
    }
    & .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        opacity: 1;
        background: #D9D9D9;
    }
    & .swiper-pagination-bullet-active {
        background: #2C64EE;
    }
}
.benefit-swiper-car {
    padding-top: 58px;
    padding-bottom: 41px;
    @media(max-width:539px) {
        padding-top: 35px;
        padding-bottom: 10px;
    }
}
.car__other {
    padding-top: 44px;
    @media(max-width:539px) {
        padding-top: 16px;
    }
}
.other-swiper {
    padding-top: 27px;
    @media(max-width:539px) {
        padding-top: 9px;
    }
}

.markup {

    &__bar {
    }
}
.car {

    &__price {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 33px;
        flex-wrap: wrap;
        @media(max-width:1023px) {
            display: none;
        }
    }
    &__header-price-mobile {
        display: none;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        @media(max-width:1023px) {
            display: flex;
        }
        @media(max-width:539px) {
            gap: 9px;
        }
        & .car__price-now {
            @media(max-width:539px) {
                font-weight: 700;
                font-size: 22px;
                line-height: 26px;
            }
        }
        & .car__price-before {
            @media(max-width:539px) {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: #A0A0A0;
            }
        }
    }
    &__header-lead_mob {
        display: none;
        @media(max-width:1023px) {
            display: flex;
        }
    }
    &__header-credit-btn {
        font-weight: 500;
        font-size: 16px;
        line-height: 12px;
        border: 0.6px solid #272727;
        border-radius: 2.42308px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 5px 9px;
        display: none;
        margin-left: 20px;
        height: fit-content;
        @media(max-width:1023px) {
            display: flex;
        }
        @media(max-width:539px) {
            margin-left: 2px;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
        }
    }
    &__price-now {
        font-family: 'Rubik';
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
    }

    &__discount-btn {
        background: #EFEFF1;
        border-radius: 3.77143px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 32px;
        cursor: pointer;
        &.active {
            & img {
                transform: rotate(0deg);
            }
        }
        & img {
            transform: rotate(180deg);
            transition: .2s;
        }
    }

    &__price-before {
        font-weight: 700;
        font-size: 26px;
        line-height: 30px;
        color: #A0A0A0;
        text-decoration: line-through;
        margin-left: 4px;
    }

    &__discount {
        box-shadow: 2px 2px 4px 6px rgba(39, 39, 39, 0.03);
        border-radius: 5px;
        padding: 33px;
        display: none;
        z-index: 5;
        @media(max-width:1199px) {
            padding: 15px;
        }
        @media(max-width:1023px) {
            box-shadow: none;
            padding: 0px;
            border-radius: 25px 25px 0px 0px;
        }
        &.active {
            display: block;
        }
        &_margin {
            margin-bottom: 53px;
            @media(max-width:539px) {
                margin-bottom: 0px;
            }
        }
        &_mobile {
        }
        &_pc {
            &.active {
                @media(max-width:1023px) {
                    display: none;
                }
            }
        }
    }
    &__discount-content {
        @media(max-width:539px) {
            z-index: 105;
            position: relative;
        }
    }
    &__discount-subtitle {
        font-weight: 600;
        font-size: 26px;
        line-height: 31px;
        margin-bottom: 25px;
        @media(max-width:539px) {
            font-family: 'Rubik';
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 20px;

        }
    }
    &__discount-list {
        margin-bottom: 20px;
    }
    &__discount-item {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        @media(max-width:539px) {
        }
        &:not(:last-child) {
            margin-bottom: 16px;
            padding-bottom: 12px;
            border-bottom: 0.7px solid #EAE9EF;
        }
        & span {
            color: #12BC3A;
        }
    }

    &__discount-lead {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #7E7E7E;
        & span {
            display: inline-block;
        }
    }

    &__discount-call {
        width: 100%;
        margin-top: 18px;
    }
}

.btn {

    &_green {
    }
}
.credit__col-item {
    border-radius: 5px;
    box-shadow: 2px 2px 4px 6px rgba(39, 39, 39, 2.8%);
}
.credit {
    padding: 37px;
    &_carloan {
        @media(max-width:1199px) {
            padding: 15px;
        }
        @media(max-width:767px) {
            box-shadow: none;
        }
        & .credit__btn-submit {
            @media(max-width:1023px) {
                width: fit-content;
                padding: 17px 25px;
            }
        }
        & .credit__calc-desc-subtitle {
            @media(max-width:1023px) {
                width: 165px;
                flex: 0 0 auto;
            }
        }
        & .credit__subtitle_mobile {
            display: none;
            font-family: 'Rubik';
            font-weight: 600;
            font-size: 22px;
            line-height: 26px;
            color: #272727;
            margin-top: 5px;
            @media(max-width:539px) {
                display: block;
            }
        }
        & h3 {
            @media(max-width:1215px) {
                font-size: 24px;
            }
            @media(max-width:539px) {
                display: none;
            }
        }
    }
    &__subtitle {
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 19px;
        margin-top: 23px;
        margin-bottom: 14px;
        @media(max-width:539px) {
            margin-bottom: 18px;
        }
   }

    &__form {
    }

    &__calc {
        & .credit__field {
            &:not([type=range]) {
                padding: 0 15px;
                margin-top: 5px;
            }
        }
    }
    &__item-subtitle {
        font-size: 12px;
        line-height: 14px;
        color: #7E7E7E;
        padding-left: 15px;
    }
    &__item-calc {
        &:not(:last-child) {
            margin-bottom: 15px;

        }
    }

    &__item {
        background: #EEF1F8;
        border-radius: 5px;
        position: relative;
        padding-top: 11px;
    }

    &__field {
        font-size: 14px;
        line-height: 16px;
        background: #EEF1F8;
        display: block;
        width: 100%;
        &_margin {
            margin-bottom: 14px;
        }
    }

    &__item-footer {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #A0A0A0;
        display: flex;
        justify-content: space-between;
        margin-top: 7px;
    }

    &__calc-desc {
        display: flex;
        gap: 20px;
        @media(max-width:539px) {
            gap: 0px;
        }
        &:not(:first-child) {
            margin-top: 16px;
        }
    }
    &__calc-desc-subtitle {
        // flex: 0 0 47%;
        width: 159px;
    }
    &__calc-res {
    }
    &__block {
        &:not(:last-child) {
            border-bottom: 0.7px solid #EAE9EF;
            padding-bottom: 26px;
            &.credit__block_filter {
                padding-bottom: 15px;
            }
        }
    }
    &__btn-submit {
        margin-top: 15px;
        width: 100%;
        @media(max-width:539px) {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
    }
    &__disc {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #8D8D8D;
        margin-top: 12px;
        & a {
            color: #8D8D8D;
            text-decoration: underline;
        }
    }
}

.credit {

    &__col-item {
    }
}

.possibilities {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 50px;
    padding: 27px 17px;
    transition: .2s;
    &:hover {
        & h3 {
            color: #2C64EE;
        }
    }
    @media(max-width:1023px) {
        display: none;
    }
    &_call {
        margin-top: 45px;
    }
    &__pic {
        min-width: 50px;
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2C64EE;
        border-radius: 50%;
        & img {

        }
    }

    &__sibtitle {
    }
}

.credit {

    &__col-item {
    }
}
.legal {
    margin-top: 56px;
    @media(max-width:1023px) {
        display: none;
    }
    &__list {
        margin-top: 29px;
    }

    &__item {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #272727;
        display: flex;
        align-items: center;
        gap: 17px;
        &:not(:first-child) {
            margin-top: 21px;
        }
        &::before {
            content: "";
            width: 30px;
            height: 30px;
            background: url(../img/icons/arrow_green.svg) 0 0 no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            border: 2px solid #38B455;
            display: flex;
            background-size: 20px;
        }
    }
}
.credit_car {
    display: block;
    @media(max-width:1199px) {
        padding: 15px;
    }
    @media(max-width:1023px) {
        display: none;
        position: fixed;
        height: 100vh;
        overflow: auto;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 10;
        border-radius: 0px;
        padding: 0px;
        & h3 {
            display: none;
        }
        & h4 {
            font-family: 'Rubik';
            font-weight: 600;
            font-size: 22px;
            line-height: 26px;
        }
        & .credit__subtitle {
            padding: 0px 15px;
        }
        & .credit__form {
            padding: 0px 15px 50px 15px;
        }
        & .credit__btn-submit {
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
        & .credit__disc {
            text-align: center;
        }
    }
    @media(max-width:539px) {
        @include popup-down;    
        & .credit__btn-submit {
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
        & .credit__disc {
            text-align: start;
        }
    }
    & .popup-close {
        position: static;
        background: url(../img/icons/close_black.svg) 0 0 no-repeat;
        background-position: center;
    }
}
.credit {

    &__info {

        &_mobile {
            gap: 15px;
            background: #FFFFFF;
            box-shadow: 2px 4px 6px 4px rgba(0, 0, 0, 0.04);
            border-radius: 12px;
            margin-top: 26px;
            padding: 10px;
            display: none;
            @media(max-width:1023px) {
                display: flex;
            }
        }
    }

    &__info-pic {
        max-width: 260px;
        @media(max-width:399px) {
            max-width: 181px;
        }
        & img {
            width: 100%;
            border-radius: 12px;
        }
    }

    &__info-text {
    }

    &__info-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-top: 8px;
        @media(max-width:399px) {
            margin-top: 0px;
        }
    }

    &__info-price-now {
        font-weight: 800;
        font-size: 18.414px;
        line-height: 22px;
        color: #12BC3A;
        margin-top: 10px;
    }

    &__info-price-before {
        font-weight: 400;
        font-size: 13.8105px;
        line-height: 16px;
        text-decoration: line-through;
        color: #8D8D8D;
        margin-top: 8px;
    }
}

.credit__header {
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #FAFAFA 0%, #FCFCFC 100%);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(6px);
    padding: 38px 15px 15px;
    display: none;
    @media(max-width:1023px) {
        display: flex;
    }
}
.car__discount_mobile {
    @media(max-width:539px) {
        @include popup-down;
    }
    &.active {
        @media(min-width:1023px) {
            display: none;
        }
    }
}

.car__discount-btn_mob {
    width: 28px;
    height: 21px;
    & img {
        width: 10px;
        height: 6px;
    }
}
.legal_mobile {
    padding-top: 35px;
    display: none;
    @media(max-width:1023px) {
        display: block;
    }
    & .legal__list {
        margin-top: 12px;

    }
    & .legal__item {
        gap: 11px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        &::before {
            width: 21px;
            height: 21px;
            background-size: 15px;
        }
    }
    & .legal__item:not(:first-child) {
        margin-top: 13px;
    }
}














  .gallery {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(17, 17, 17, 1);
    z-index: 10;
    padding: 0px 30px 20px 162px;
    overflow: auto;
    display: none;
    @media(max-width:899px) {
        padding: 0px 0px 20px 0px;
    }
    &.active {
        display:block;
    }
    &__content {
        display: flex;
        gap: 29px;
        padding: 0px 0px 0px 20px;
        @media(max-width:899px) {
            padding: 0px;
        }
        position: relative;
    }

    &__swiper {
        width: 136px;
        left: 30px;
        position: fixed;
        top: 38px;
        padding: 65px 0px;
        @media(max-width:899px) {
            display: none;
        }
        ::-webkit-scrollbar {
            width: 0px;
            background: rgba(255, 255, 255, 0.0);
        }
    }
    &__swiper-slide {
        height: 100px;
        border-radius: 5px;
        border: 2px solid transparent;
        position: relative;
        cursor: pointer;
        &:hover {
            &::after {
                opacity: 0;
            }
        }
        &.active {
            border: 2px solid #2C64EE;
            &::after {
                opacity: 0;
            }
        }
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            opacity: 0.2;
            background: #000;
            transition: .2s;
        }
        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }
    &__swiper-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 414px;
        overflow: auto;
        gap: 5px;
    }
    &__swiper-prev {
    }

    &__swiper-next {
    }

    &__list {
        flex: 1;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        @media(max-width:899px) {
            gap: 2px;
            padding-top: 0px;
        }
    }
    &__list-item {
        display: flex;
        justify-content: center;
        & img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__offer {
    }
    &__swiper-btn {
        position: absolute;
        left: 50%;
        cursor: pointer;
    }
    &__swiper-prev {
        transform: translate(-50%,0);
        top: 0;
    }
    &__swiper-next {
        transform: translate(-50%,0) rotate(180deg);
        bottom: 0;
    }
    &__close {
        width: 36px;
        height: 36px;
        position: fixed;
        right: 30px;
        top: 40px;
        background: url(../img/icons/close.svg) 0 0 no-repeat;
        background-size: cover;
        background-position: center;
        transition: .2s;
        &:hover {
            transform: scale(1.1);
        }
        @media(max-width:899px) {
            border-radius: 50%;
            background: url(../img/icons/close.svg), rgba(39, 39, 39, 0.73);
            width: 30px;
            height: 30px;
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: center;
            right: 16px;
            top: 16px;
        }
    }
}



.gallery {

    &__offer {
        background: rgba(0, 0, 0, 0.65);
        border-radius: 5px;
        position: sticky;
        top: 106px;
        height: fit-content;
        padding: 25px 19px;
        @media(max-width:899px) {
            position: fixed;
            bottom: 0;
            top: auto;
            display: flex;
            width: 100%;
            align-items: center;
            gap: 10px;
            background: rgba(39, 39, 39, 1);
            padding: 22px 16px;
            left: 0;
            border-radius: 0px;
            justify-content: center;
        }
        @media(max-width:539px) {
            padding: 21px 16px 7px;
            justify-content: space-between;
        }
    }
    & p {
        font-family: 'Rubik';
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        white-space: nowrap;
        &:first-child {
            &::after {
                content: ',';
            }
        }
        @media(max-width:899px) {
            font-family: 'Rubik';
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #FFFFFF;
            display: inline-block;
        }
    }
    &__offer-desc {
        @media(max-width:539px) {
            display: flex;
            margin-top: 5px;
        }
    }
    &__offer-lead {
        margin-top: 14px;
        display: flex;
        gap: 10px;
        align-items: flex-end;
        @media(max-width:899px) {
            align-items: center;
            margin-top: 0px;
        }
        @media(max-width:539px) {
        }
    }
    &__offer-text {
        @media(max-width:899px) {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    &__offer-price-now {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #12BC3A;
        @media(max-width:899px) {
            color: #FFFFFF;
        }
        @media(max-width:539px) {
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__offer-price-before {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #535353;
        text-decoration: line-through;
        @media(max-width:899px) {
            font-weight: 700;
            font-size: 18px;
            line-height: 14px;
            color: #A0A0A0;
        }
        @media(max-width:539px) {
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__offer-btn {
        gap: 7px;
        padding: 12px 24px;
        margin-top: 40px;
        position: relative;
        @media(max-width:899px) {
            width: fit-content;
            padding: 10px 21px;
            max-width: 300px;
            margin-top: 0px;
        }
        @media(max-width:539px) {
            font-family: 'Rubik';
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            padding: 10px 10px;
        }
        &::after {
            content: "Показать телефон";
            white-space: nowrap;
            @media(max-width:539px) {
                content: "Позвонить";
            }
        }
    }
}
.car {

    &__discount-header {
        display: none;
        border-bottom: 0.7px solid #EAE9EF;
        padding-bottom: 14px;
        margin-bottom: 22px;
        @media(max-width:539px) {
            display: block;
        }
    }

    &__discount-header-title {
        font-family: 'Rubik';
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
    }

    &__discount-header-price-now {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        margin-top: 14px;
    }

    &__discount-header-subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #7E7E7E;
        margin-top: 18px;
    }

    &__discount-header-price-before {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-top: 5px;
    }
}
.price {
}

.car {
    &__footer-fixed {
        position: fixed;
        width: 100%;
        background: rgba(255,255,255,0.7);
        gap: 8px;
        padding: 15px;
        bottom: 0px;
        left: 0;
        z-index: 9;
        justify-content: center;
        display: none;
        @media(max-width:539px) {
            display: flex;
        }
    }

    &__footer-buy-btn {
        background: #E82B2B;
        border-radius: 10px;
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
        padding: 12px 15px;
        & span {
            display: block;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 4px;
        }
    }

    &__footer-buy-call {
        background: url(../img/icons/phone_call.svg), #12BC3A ;
        background-size: cover;
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 61px;
        height: auto;
        padding: 20px 30.5px;
    }
}

.trade-form {
    display: none;
    margin-top: 20px;
    padding: 10px 37px 37px 37px;
    @media(max-width:1199px) {
        padding: 5px 15px;
    }
}
.possibilities_credit {
    margin-bottom: 20px;
    margin-top: 0px;
}
/*generated with Input range slider CSS style generator (version 20211225)
https://toughengineer.github.io/demo/slider-styler*/
input[type=range].styled-slider {
    margin-top: 4px;
    height: 2px;
    -webkit-appearance: none;
  }
  
  /*progress support*/
  input[type=range].styled-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 15px + var(--ratio) * (100% - 15px));
  }
  
  input[type=range].styled-slider:focus {
    outline: none;
  }
  
  /*webkit*/
  input[type=range].styled-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 1em;
    background: #fff;
    border: 3px solid #2C64EE;
    box-shadow: 0 0 2px black;
    margin-top: calc(3px * 0.5 - max(15px * 0.5,3px));
  }
  
  input[type=range].styled-slider::-webkit-slider-runnable-track {
    height: 3px;
    border: none;
    border-radius: 0.5em;
    background: #fff;
    box-shadow: none;
  }
  
  input[type=range].styled-slider::-webkit-slider-thumb:hover {
    background: #fff;
  }
  
  input[type=range].styled-slider:hover::-webkit-slider-runnable-track {
    background: #fff;
  }
  
  input[type=range].styled-slider::-webkit-slider-thumb:active {
    background: #fff;
  }
  
  input[type=range].styled-slider:active::-webkit-slider-runnable-track {
    background: #fff;
  }
  
  input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#2C64EE,#2C64EE) 0/var(--sx) 100% no-repeat, #fff;
  }
  
  input[type=range].styled-slider.slider-progress:hover::-webkit-slider-runnable-track {
    background: linear-gradient(#2C64EE,#2C64EE) 0/var(--sx) 100% no-repeat, #fff;
  }
  
  input[type=range].styled-slider.slider-progress:active::-webkit-slider-runnable-track {
    background: linear-gradient(#2C64EE,#2C64EE) 0/var(--sx) 100% no-repeat, #fff;
  }
  
  /*mozilla*/
  input[type=range].styled-slider::-moz-range-thumb {
    width: max(calc(15px - 3px - 3px),0px);
    height: max(calc(15px - 3px - 3px),0px);
    border-radius: 1em;
    background: #fff;
    border: 3px solid #2C64EE;
    box-shadow: 0 0 2px black;
  }
  
  input[type=range].styled-slider::-moz-range-track {
    height: 3px;
    border: none;
    border-radius: 0.5em;
    background: #fff;
    box-shadow: none;
  }
  
  input[type=range].styled-slider::-moz-range-thumb:hover {
    background: #fff;
  }
  
  input[type=range].styled-slider:hover::-moz-range-track {
    background: #fff;
  }
  
  input[type=range].styled-slider::-moz-range-thumb:active {
    background: #fff;
  }
  
  input[type=range].styled-slider:active::-moz-range-track {
    background: #fff;
  }
  
  input[type=range].styled-slider.slider-progress::-moz-range-track {
    background: linear-gradient(#2C64EE,#2C64EE) 0/var(--sx) 100% no-repeat, #fff;
  }
  
  input[type=range].styled-slider.slider-progress:hover::-moz-range-track {
    background: linear-gradient(#2C64EE,#2C64EE) 0/var(--sx) 100% no-repeat, #fff;
  }
  
  input[type=range].styled-slider.slider-progress:active::-moz-range-track {
    background: linear-gradient(#2C64EE,#2C64EE) 0/var(--sx) 100% no-repeat, #fff;
  }
  
  /*ms*/
  input[type=range].styled-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
  }
  
  input[type=range].styled-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
  }
  
  input[type=range].styled-slider::-ms-thumb {
    width: 15px;
    height: 15px;
    border-radius: 1em;
    background: #fff;
    border: 3px solid #2C64EE;
    box-shadow: 0 0 2px black;
    margin-top: 0;
    box-sizing: border-box;
  }
  
  input[type=range].styled-slider::-ms-track {
    height: 3px;
    border-radius: 0.5em;
    background: #fff;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
  }
  
  input[type=range].styled-slider::-ms-thumb:hover {
    background: #fff;
  }
  
  input[type=range].styled-slider:hover::-ms-track {
    background: #fff;
  }
  
  input[type=range].styled-slider::-ms-thumb:active {
    background: #fff;
  }
  
  input[type=range].styled-slider:active::-ms-track {
    background: #fff;
  }
  
  input[type=range].styled-slider.slider-progress::-ms-fill-lower {
    height: 3px;
    border-radius: 0.5em 0 0 0.5em;
    margin: -undefined 0 -undefined -undefined;
    background: #2C64EE;
    border: none;
    border-right-width: 0;
  }
  
  input[type=range].styled-slider.slider-progress:hover::-ms-fill-lower {
    background: #2C64EE;
  }
  
  input[type=range].styled-slider.slider-progress:active::-ms-fill-lower {
    background: #2C64EE;
  }
  