.markup {
    &__body {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        &_carloan {
            padding-top: 24px;
        }
        &_padding {
            padding-top: 30px;
        }
    }

    &__content {
        flex: 0 0 66%;
        max-width: 66%;
    }
    &__bar {
        flex: 1;
    }
    
}
.benefit__list {
    padding-top: 138px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.offers {
    padding-top: 56px;
    &__content {
    }

    &__list {
    }

    &__item {
        display: flex;
        background: #FFFFFF;
        border-radius: 5px;
        padding: 16px;
        gap: 24px;
        transition: .2s;
        position: relative;
        &:hover {
            box-shadow: 1px 1px 8px 6px rgba(39, 39, 39, 0.1);
            z-index: 2;
            & .offers__item-btns {
                opacity: 1;
            }
        }
    }

    &__item-swiper {
        flex: 0 0 29%;
        margin-left: 0;
        margin-right: 0px;
        max-height: 146px;
        border-radius: 5px;
    }

    &__item-swiper-wrapper {
    }

    &__item-slide {
        border-radius: 5px;
        & img {
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }

    &__item-pagination {
        display: flex;
        justify-content: center;
        & .swiper-pagination-bullet {
            background: rgba(255, 255, 255, 0.7);
            width: 20px;
            border-radius: 30px;
            opacity: 1;
            height: 3px;
        }
        & .swiper-pagination-bullet-active {
            background: #FFFFFF;
        }
    }

    &__item-text {
        padding-top: 16px;
    }

    &__item-name {
        font-family: 'Rubik';
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #2C64EE;
    }

    &__item-lead {
        margin-top: 4px;
        display: flex;
        gap: 13px;
        align-items: center;
    }

    &__item-price {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
    }

    &__item-price-before {
        font-weight: 600;
        text-decoration: line-through;
        color: #ABABAB;
    }

    &__item-credit {
        border: 1px solid #CBCBCB;
        border-radius: 5px;
        padding: 7px 16px;
        margin-left: 2px;
        margin-bottom: 7px;
        & span {
            color: #E82B2B;
        }
    }

    &__item-info {
        font-weight: 300;
        line-height: 120%;
        color: #272727;
        &.card__info {
            font-weight: 300;
            font-size: 14px;
            line-height: 120%;
            margin-top: 7px;
        }
        & .card__year, .card__distance {
            font-size: 14px;
        }
    }
    &__item-btn {
        width: 36px;
        height: 36px;
        border-radius: 5px;
        display: block;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    &__item-btns {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        opacity: 0;
    }

    &__item-procent {
        background: url(../img/icons/procent.svg), #E82B2B;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 18px;
    }

    &__item-call {
        background: url(../img/icons/phone.svg), #12BC3A;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 18px;
    }

    &__pagination {

    }
}
.card {
    &__info {
    }

    &__year {
    }

    &__distance {
    }

    &__item-info {
    }
}
.pagination {
    max-width: 325px;
    margin: 32px auto 0;
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #8D8D8D;
        transition: .2s;
        cursor: pointer;
    }
    &__prev {
        & img {
            transform: rotate(180deg);
        }
    }
    &__item-number {
        &.active {
            color: #2C64EE;
        }
    }

    &__item-last {
    }
}
