.map {
    width: 100%;
    height: 100%;
    @media(max-width:1023px) {
        margin-bottom: 50px;
        height: 300px;
    }
    @media(max-width:767px) {
        margin-bottom: 0px;
    }
}
.credit {

    &_carloan {
    }

    &__col-item {
    }

    &__col-lead {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 127%;
        color: #1F1A21;
        &:not(:last-child) {
            margin-bottom: 36px;
            @media(max-width:767px) {
                margin-bottom: 10px;
            }
        }
    }

    &__desc {
    }
}
.credit_contacts {
    margin-bottom: 40px;
    @media(max-width:767px) {
        margin-bottom: 0px;
    }
}