.markup {

    &__body {

        &_padding {
        }
    }

    &__content {
    }
}
.container {
}
.carloan {
    & h4 {
        font-family: 'Rubik';
        display: none;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 12px;
        @media(max-width:539px) {
            display: block;
        }
    }
    & .lead {
        font-weight: 300;
        font-size: 16px;
        line-height: 127%;
        color: #1F1A21;
        @media(max-width:539px) {
            font-size: 14px;
        }
    }
    &__preview {

    }

    &__preview-content {
        padding: 17px 0px 7px 29px;
        display: flex;
        background: linear-gradient(108.16deg, #2C64EE 14.57%, #0C2F85 99.22%);
        border-radius: 11.5549px;
        position: relative;
        @media(max-width:1199px) and (min-width: 1024px) {
            padding: 15px 0px 15px 15px;
            justify-content: space-between;
        }
        @media(max-width:1023px) {
            gap: 50px;
        }
        @media(max-width:767px) {
            padding: 15px;
            justify-content: center;
        }
        @media(max-width:539px) {
            border-radius: 5px;
            padding: 15px 0px 0px 15px;
            justify-content: space-between;
        }
        @media(max-width:359px) {
            padding: 15px 0px 15px 15px;
        }
    }

    &__text {
        color: #FFFFFF;
        font-family: 'Rubik';
        padding-top: 22px;
        position: relative;
        z-index: 2;
        @media(max-width:899px) {
            padding-top: 0px;
        }
        @media(max-width:539px) {
            flex: 0;
        }
    }
    &__pic-coin  {
        position: absolute;
        left: 28%;
        bottom: 0;
        @media(max-width:1250px) {
            left: 38%;
        }
        @media(max-width:1199px) {
            left: 50%;
        }
        @media(max-width:1023px) {
            left: 28%;
        }
        @media(max-width:899px) {
            left: 28%;
        }
        @media(max-width:767px) {
            width: 100px;
            left: 38%;
        }
        @media(max-width:539px) {
            width: 62px;
            left: 30%;
        }
        @media(max-width:359px) {
            width: 39px;
            left: 48%;
        }
    }
    &__title {
        font-weight: 400;
        font-size: 62.6449px;
        line-height: 127%;
        letter-spacing: 0.075em;
        text-transform: uppercase;
        @media(max-width:1199px) {
            font-size: 55px;
        }
        @media(max-width:899px) {
            font-size: 50px;
        }
        @media(max-width:539px) {
            font-family: 'Rubik';
            font-size: 27.1075px;
            line-height: 127%;
            letter-spacing: 0.075em;
        }
        & span {
            font-weight: 600;
            font-size: 79.8938px;
            display: block;
            line-height: 62%;
            letter-spacing: 0.05em;
            @media(max-width:1199px) {
                font-size: 66px;
            }
            @media(max-width:899px) {
                font-size: 55px;
            }
            @media(max-width:539px) {
                font-weight: 600;
                font-size: 34.5714px;
                line-height: 83%;
            }
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 20.0285px;
        line-height: 127%;
        letter-spacing: 0.05em;
        max-width: 316px;
        margin-top: 26px;
        @media(max-width:899px) {
            font-size: 16px;
        }
        @media(max-width:539px) {
            font-size: 8.66667px;
            line-height: 127%;
            margin-top: 6px;
            max-width: 222px;
        }
        & span {
            display: inline-block;
        }
    }

    &__pic {
        margin-left: -30px;
        @media(max-width:767px) {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -60px;
        }
        & img {
            width: 100%;
        }
    }

    &__preview-lead {
        margin-top: 34px;
        @media(max-width:539px) {
            margin-top: 17px;
        }
    }

    &__advantages {
        padding-top: 23px;
        & h3 {
            @media(max-width:539px) {
                font-family: 'Rubik';
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #272727;
            }
        }
    }

    &__partners {
        padding-top: 55px;
        @media(max-width:539px) {
            padding-top: 35px;
        }
        & h3 {
            @media(max-width:539px) {
                font-family: 'Rubik';
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
}
.advantages-swiper {
    margin-top: 26px;
    padding-bottom: 36px;
    @media(max-width:767px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    &__slide {
        background: #FFFFFF;
        box-shadow: 2px 2px 6px 3px rgba(26, 30, 27, 0.04);
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 14px;
        padding: 10px 28px 13px 29px;
        font-size: 16px;
        line-height: 19px;
        color: #7E7E7E;
        height: auto;
        width: fit-content;
        @media(max-width:539px) {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #7E7E7E;
            padding: 1px 8px 3px 15px;
            gap: 8px;
        }
        & span {
            display: inline-block;
        }
    }
}
.advantages {

    &__slide-pic {
        & img {
            width: 100%;
        }
        @media(max-width:539px) {
            max-width: 35px;
        }
    }

    &__lead {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}
.partners-swiper {
    padding-top: 28px;
    padding-bottom: 20px;
    padding-left: 4px;
    padding-right: 4px;
    @media(max-width:767px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media(max-width:767px) {
        padding-top: 17px;
    }
    &__slide {
        box-shadow: 3.26489px 3.26489px 9.79468px 1.8px rgba(22, 26, 22, 0.04);
        border-radius: 8.16223px;
        padding: 4px 22px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width:767px) {
            width: fit-content;
        }
        & img {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 150px;
            @media(max-width:539px) {
                max-width: 98px;
            }
        }
    }
}
.credit {

    &__filter {
    }

    &__filter-item {
        background: #EEF1F8;
        width: 100%;
        border-radius: 5px;
        font-size: 14px;
        line-height: 16px;
        color: #7E7E7E;
        padding: 19px 19px 15px 19px;
        display: block;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

    }
}
.lock {
}


.additionally {

    &__list {
    }

    &__item {
        margin-bottom: 15px;
        position: relative;
        cursor: pointer;
        &.active {
            & .additionally__item-content {
                display: block;
                @media(max-width:539px) {
                    bottom: 0;
                }
            }
        }
        &.lock {
            & .additionally__subtilte {
                color: #C5C5C5;
            }
        }
        &.hidden {
            display: none;
        }
    }

    &__subtilte {
        background: #eef1f8;
        width: 100%;
        border-radius: 5px;
        font-size: 14px;
        line-height: 16px;
        color: #7e7e7e;
        padding: 19px 19px 15px 19px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.lock {
            color: #C5C5C5;
        }

        & span {
            color: #272727;
            font-size: 15px;
        }
    }
    &__item-subtitle_mobile {
        display: none;
        margin-bottom: 20px;
        font-family: Rubik;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        @media(max-width:539px) {
            display: block;
        }
    }
    &__item-content {
        width: 100%;
        display: none;
        position: absolute;
        background: #fff;
        box-shadow: 1px 1px 6px rgba(0,0,0,.08);
        border-radius: 5px;
        top: calc(100% - 2px);
        z-index: 5;
        transition: .4s;
        padding: 37px 20px 37px;
        left: 0;
        & ul {
            height: auto;
            max-height: 200px;
            overflow: auto;
            & li {
                font-family: Rubik;
                font-weight: 400;
                font-size: 17px;
                line-height: 19px;
                color: #7e7e7e;
                position: relative;
                margin-bottom: 15px ;
                &.active {
                    color: #272727;
                }
            }
        }
        @media(max-width:539px) {
            display: block;
            bottom: -100%;
            position: fixed;
            width: 100%;
            top: auto;
            border-radius: 25px 25px 0px 0px;
        }

    }
    &__item-pic {
        @media(max-width:1023px) {
            max-width: 250px;
        }
        @media(max-width:539px) {
            max-width: none;
        }
        & img {
            border-radius: 5px;
            width: 100%;
        }
    }
    &__item-close {
        background: url(../img/icons/close_grey.svg) 0 0 no-repeat;
        background-size: cover;
        background-position: center;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    &__item-info {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 10px;
        align-items: center;
    }

    &__item-price-now {
        font-family: Rubik;
        font-weight: 700;
        font-size: 20px;
        line-height: 36px;
    }

    &__item-price-before {
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        color: #a0a0a0;
        text-decoration: line-through;
    }
}
