.footer-w {
    background: #1B1B1B;
    margin-top: 83px;
    @media(max-width:767px) {
        margin-top: 46px;
    }
    &_credit {
        @media(max-width:539px) {
            margin-top: 29px;
        }
    }
    &_car {
        @media(max-width:539px) {
            padding-bottom: 64px;
        }
    }
}
.footer {
    padding-top: 66px;
    padding-bottom: 66px;
    @media(max-width:539px) {
        padding-top: 17px;
        padding-bottom: 20px;
    }
    & .nav-icon {
        & span {
            background: #fff;
        }
    }
		&__content {
            display: flex;
            gap: 11px;
            align-items: center;
            justify-content: space-between;
            font-family: 'Rubik';
            font-size: 18px;
            line-height: 21px;
            border-bottom: 1px solid #FFFFFF;
            padding-bottom: 40px;
            @media(max-width:539px) {
                border-bottom: none;
                padding-bottom: 0;
            }
		}

		&__logo {
            font-weight: 600;
            font-size: 32px;
            line-height: 110%;
            color: #FFFFFF;
            @media(max-width:539px) {
                font-family: 'Montserrat';
                font-style: italic;
                font-weight: 800;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.07em;
            }
		}

		&__nav {
            display: flex;
            gap: 11px;
            align-items: center;
            justify-content: space-between;
            flex: 0 0 49%;
            @media(max-width:1023px) {
                display: none;
            }
		}

		&__nav-item {
            color: #FFFFFF;
            white-space: nowrap;
            transition: .2s;
            &:hover {
                text-decoration: underline;
            }
		}

		&__btn-call {
            font-size: 18px;
            line-height: 21px;
            color: #fff;
            border-bottom: 1px solid #fff;
            @media(max-width:1023px) {
                display: none;
            }
		}

		&__dics {
            margin-top: 42px;
            @media(max-width:539px) {
                margin-top: 13px;
            }
            & p,a {
                line-height: 16px;
                letter-spacing: 0.07em;
                color: rgba(255, 255, 255, 0.4);
                @media(max-width:539px) {
                    font-family: 'Arial';
                    font-weight: 400;
                    font-size: 8px;
                    line-height: 9px;
                    letter-spacing: 0.07em;
                }
            }
            & a {
                text-decoration: underline;
            }
		}
}

.footer__dics-more-btn {
    font-size: 18px;
    line-height: 16px;
    letter-spacing: .07em;
    color: rgba(255,255,255,.4);
    margin-top: 4px;
    display: block;
    position: relative;
    width: fit-content;
    border-bottom: 1px solid rgba(255,255,255,.4);
    &.hidden {
        display: none;
    }
    &::after {
        content: "";
        position: absolute;
        right: -16px;
        top: 6px;
        background: url(../img/icons/arrow_discount.svg) 0 0 no-repeat;
        background-size: cover;
        width: 16px;
        height: 6px;
        transform: rotate(180deg);
        transition: .2s;
    }
}

@media(max-width:539px) {
    .footer__dics-more-btn {
        font-size: 12px;
    }
}
.footer__dics-hidden {
    display: none;
}