.footer-w {
    background: #1B1B1B;
    margin-top: 80px;
}
.footer {
    padding-top: 66px;
    padding-bottom: 66px;
    & .nav-icon {
        & span {
            background: #fff;
        }
    }
		&__content {
            display: flex;
            gap: 11px;
            align-items: center;
            justify-content: space-between;
            font-family: 'Rubik';
            font-size: 18px;
            line-height: 21px;
            border-bottom: 1px solid #FFFFFF;
            padding-bottom: 40px;
		}

		&__logo {
            font-weight: 600;
            font-size: 32px;
            line-height: 110%;
            color: #FFFFFF;
		}

		&__nav {
            display: flex;
            gap: 11px;
            align-items: center;
            justify-content: space-between;
            flex: 0 0 50%;
            @media(max-width:1023px) {
                display: none;
            }
		}

		&__nav-item {
            color: #FFFFFF;
            white-space: nowrap;
		}

		&__btn-call {
            color: #fff;
            border-bottom: 1px solid #fff;
            @media(max-width:1023px) {
                display: none;
            }
		}

		&__dics {
            margin-top: 42px;
            & p,a {
                line-height: 16px;
                letter-spacing: 0.07em;
                color: rgba(255, 255, 255, 0.4);
            }
            & a {
                text-decoration: underline;
            }
		}
}
