.header_car{
  position: relative;
  & .header__logo {
    &::before {
      @media(max-width:1023px) {
        display: none;
      }
    }
  }
  & .header__content {
    @media(max-width:767px) {
      padding-top: 14px;
    }
    @media(max-width:539px) {
      padding-top: 6px;
    }
  }
  &.fixed {
    &:before {
      display: block;
    }
    & .header-car {
      opacity: 1;

    }
    & .header__content {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.header-car {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  padding-bottom: 20px;
  padding-top: 20px;

  @media(max-width:1023px) {
    padding-bottom: 10px;
    padding-top: 4px;
  }
  @media(max-width:767px) {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .back {
    @media(max-width:1023px) {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translate(0,-50%);
    }
    @media(max-width:539px) {
      transform: translate(0,-75%);
    }
  }
  &__back {
    display: flex;
    align-items: center;
    gap: 22px;
  }
  &__name {
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    gap: 22px;
    flex: 1;
    justify-content: space-between;
    max-width: 846px;
    @media(max-width:1023px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      justify-content: flex-start;
      padding-left: 55px;
    }
    @media(max-width:539px) {
      padding-left: 20px;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #7E7E7E;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: 'Rubik';
    font-weight: 600;
  }

  &__price-now {
    font-size: 26px;
    line-height: 31px;
    @media(max-width:539px) {
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      color: #272727;
    }
  }

  &__price-before {
    font-size: 22px;
    line-height: 26px;
    text-decoration: line-through;
    color: #A0A0A0;
    @media(max-width:1023px) {
      display: none;
    }
  }
}
.header {
  position: relative;
  &__phone-action {
  }

  &__phone-btn {
    @media(max-width:539px) {
      &:hover {
        background: none;
      }
    }
  }

  &__menu {
  }
}

.header__logo {
  &::before {
    content: "автосалон";
    @media(max-width:1023px) {
      // display: none;
    }
  }
  & img {
    display: none;
    @media(max-width:1023px) {
      display: block;
    }
  }
}
.header__content-action {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__back_mobile {
  display: none;
  @media(max-width:1023px) {
    display: block;
  }
}
.car__discount_mobile {
  @media(max-width:1023px) {
    @include popup;
  }
}
.car__discount-content {
  @media(max-width:1023px) {
    z-index: 105;
    position: relative;
  }
}