.header-w {
  position: sticky;
  top: 0px;
  z-index: 9;
}
.header {
  backdrop-filter: blur(6px);
  background-color: rgba(255,255,255,.9);
		&__content {
            z-index: 2;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 11px;
            padding-bottom: 20px;
            padding-top: 20px;
            @media(max-width:1023px) {
              padding-bottom: 10px;
              padding-top: 10px;
            }
            @media(max-width:767px) {
              padding-top: 6px;
              padding-bottom: 6px;
            }
		}

		&__logo {
            @media(max-width:1199px) {
                font-size: 33px;
            }
            @media(max-width:767px) {
                font-weight: 600;
                font-size: 20px;
                line-height: 110%;
            }
		}

		&__nav {
            flex: 0 0 50%;
            display: flex;
            background: #F0F1F5;
            border-radius: 10px;
            padding: 5px;
            justify-content: space-between;
            gap: 1px;
            @media(max-width:1023px) {
                display: none;
            }
		}

		&__nav-item {
            font-family: 'Rubik';
            font-size: 16px;
            line-height: 19px;
            color: #7E7E7E;
            border-radius: 5px;
            padding: 13px 16px;
            white-space: nowrap;
            transition: .2s;
            @media(max-width:1199px) {
                padding: 13px 9px;
            }
            &.active {
                background: #FFFFFF;
            }
            &:hover {
              background-color: #e7e9f0;
              color: #67708e ;
            }
		}

		&__phone-btn {
            @media(max-width:1199px) {
                padding: 16px 12px;
            }
            @media(max-width:1023px) {
                background: none;
                &:hover {
                  background: none;
                }
                &::before {
                    display: none;
                }
            }
            @media(max-width:767px) {
              padding: 14px 9px;
            }
            & span {
                @media(max-width:1023px) {
                    display: none;
                }
            }
            & img {
                display: none;
                width: 18px;
                height: 18px;
                @media(max-width:1023px) {
                    display: block;
                }
            }
		}
        &__phone-action {
            display: flex;
            align-items: center;
            gap: 2px;
        }
}



.nav-icon {
    width: 19px;
    height: 15px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  .nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #272727;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .nav-icon span:nth-child(1) {
    top: 0px;
  }
  .nav-icon span:nth-child(2) {
    top: 5px;
  }
  .nav-icon span:nth-child(3) {
    top: 10px;
  }
  .nav-icon.open span {
    left: 7px;
  }
  .nav-icon.open span:nth-child(1) {
    top: 5px;
    transform: rotate(135deg);
    max-width: 30px;
    left: 0px;
  }
  .nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  .nav-icon.open span:nth-child(3) {
    top: 5px;
    transform: rotate(-135deg);
    max-width: 30px;
    left: 1px;
  }
  .header__menu {
    display: none;
    @media (max-width: 1023px) {
          display: block;
    }
  }


  .header-m {
    background: #e7e5e5;
    max-width: 290px;
    width: 63%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 10;
    left: -100%;
    transition: .4s;
    &.active {
      left: 0;
    }
		&__content {
      padding: 17px 15px 0px;
		}

		&__list {
      display: flex;
      flex-direction: column;
		}
    & .header__nav-item {
      width: fit-content;
      padding: 0px;
      color: #000;
      margin-bottom: 20px;
      &.active {
        background: none;
      }
    }
    &__close {
      position: absolute;
      right: 10px;
      top: 19px;
    }
    &__logo {
      width: fit-content;
      display: block;
      margin-bottom: 35px;
    }
}
