.wrapper {
}
.preview-swiper {
    padding-top: 28px;
    padding-bottom: 28px;
    @media(max-width:1023px) {
        padding-top: 0px;
    }
    @media(max-width:767px) {
        padding-bottom: 28px;
    }
    @media(max-width:539px) {
        padding-bottom: 10px;
    }
		&__wrapper {
		}

		&__slide {
            font-family: 'Rubik';
            height: auto;
            @media(max-width:767px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
		}
        &__slide-content {
            background: #E6EFFF;
            display: flex;
            justify-content: space-between;
            border-radius: 9.56217px;
            gap: 10px;
            padding: 43px 64px 41px 34px;
            height: 100%;
            @media(max-width:767px) {
                padding: 37px 23px 8px 18px;
                display: flex;
                justify-content: center;
                transition: .2s;
                max-width: 500px;
            }
            @media(max-width:539px) {
                width: 100%;
                padding: 37px 25px 12px 19px;
                justify-content: space-between;
            }
        }
		&__slide-text {
            & p {
                display: block;
            }
		}

		&__slide-subtitle {
            font-weight: 600;
            font-size: 33.1831px;
            line-height: 110%;
            text-transform: uppercase;
            position: relative;
            padding-bottom: 14px;
            margin-bottom: 22px;
            @media(max-width:1023px) {
                font-size: 25px;
            }
            @media(max-width:899px) {
                font-size: 20px;
                line-height: 22px;
            }
            @media(max-width:767px) {
                padding-bottom: 11px;
                margin-bottom: 13px;
            }
            &::after {
                content: "";
                left: 0;
                bottom: 0;
                width: 46px;
                height: 2px;
                background: #323232;
                position: absolute;
                @media(max-width:767px) {
                    width: 28px;
                }
            }
		}

		&__slide-lead {
            font-size: 18.4651px;
            line-height: 22px;
            @media(max-width:899px) {
                font-size: 15px;
                line-height: 17px;
            }
            @media(max-width:767px) {
                font-size: 11.0067px;
                line-height: 13px;
            }
            &:not(:last-child) {
                margin-bottom: 10px;
                @media(max-width:767px) {
                    margin-bottom: 6px;
                }
            }
            & b {
                font-weight: 600;
                white-space: nowrap;
            }
		}

		&__slide-pic {
            flex: 0 0 34%;
            @media(max-width:899px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            @media(max-width:539px) {
                flex: 0 0 39%;
            }
            &_margin {
                padding-right: 20px;
                margin-top: -10px;
                @media(max-width:1023px) {
                    padding-right: 0px;
                    margin-top: 0px;
                }
            }
            & img {
                width: 100%;
                @media(max-width:767px) {
                    max-width: 121px;
                }
            }
		}
        &.swiper-horizontal>.swiper-pagination-bullets {
            bottom: 0px;
            width: 290px;
            display: flex;
            margin: 0 auto;
            left: 50%;
            transform: translate(-50%, 0);
        }
		&__pagination { 
            & .swiper-pagination-bullet {
                transition: .5s;
                width: 63px;
                height: 3px;
                border-radius: 13px;
                background: #2C64EE;
                opacity: 1;
                @media(max-width:539px) {
                    border-radius: 4px;
                    height: 2px;
                }
            }
            .swiper-pagination-bullet-active {
                position: relative;
                transition: .5s;
                background:  #B2C1E7;
                &::after {
                    content: "";
                    width: 0%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    border-radius: 13px;
                    position: absolute;
                    animation: swiper-active-line 2s forwards linear;
                    background: #2C64EE;
                }
            }
            .swiper-pagination-bullet-active ~ span {
                transition: .5s;
                background: #D9D9D9;
            }
		}
}

@keyframes swiper-active-line {
    0% {
        width: 0%;
    }
    50% { 

    }
    100% {
        width: 100%;
    }
}
.mileage {
    padding-top: 60px;


    &_without-photo {
        padding-top: 73px;
        @media(max-width:1023px) {
            padding-top: 20px;
        }
        @media(max-width:539px) {
            padding-top: 11px;
        }
        & .mileage__content{
        @media(max-width:539px) {
            margin-top: 23px;
            column-gap: 16px;
            row-gap: 9px;
        }
        }
        & .mileage__item {
            gap: 5px;
            @media(max-width:1249px) {
                flex: 0 0 calc(25% - 19px);
            }
            @media(max-width:1023px) {
                flex: 0 0 calc(33.333% - 17px);
            }
            @media(max-width:539px) {
                flex: 0 0 calc(50% - 9px);
                padding: 11px 18px 11px 14px;
            }
        }
        & .mileage__item-name {
            @media(max-width:539px) {
                font-weight: 600;
                font-size: 12px;
                line-height: 14px;
            }
        }
        & .mileage__item-number {
            @media(max-width:539px) {
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
            }
        }
        & .mileage__item-pic {
            display: none;
        }
        & .mileage__item {
            padding: 11px 7px 12px 14px;
            

        }
        & .btn_dropdown {
            padding: 11px 25px;
            gap: 7px;
            font-size: 18px;
            @media(max-width:539px) {
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                padding: 11px 37px 11px 33px;
                gap: 4px;
            }
            @media(max-width:359px) {
                padding: 11px;
                flex: 1;
            }
            &:before {
                width: 11px;
                height: 14px;
            }
        }
        & .mileage__footer {
            gap: 10px;
            @media(max-width:539px) {
                gap: 16px;
            }
        }
        & .btn_filter {
            border-radius: 5px;
            padding: 12px 29px;
            gap: 13px;
            @media(max-width:539px) {
                padding: 11px 25px 11px 32px;
                gap: 6px;
            }
        }
    }
    
    &_photos {
        @media(max-width:539px) {
            display: none;
        }
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        column-gap: 25px;
        row-gap: 17px;
        margin-top: 28px;
    }
    &__content_hidden {
        padding-top: 0px;
        display: none;
        &.active {
            display: flex;
        }
    }
    &__item {
        flex: 0 0 calc(20% - 20px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        box-shadow: 1px 1px 4px 2px rgb(0 0 0 / 4%);
        border-radius: 5px;
        padding: 7px 16px 7px 23px;
        @media(max-width:1199px) {
            flex: 0 0 calc(25% - 19px);
        }
        @media(max-width:955px) {
            flex: 0 0 calc(33.33% - 17px);
        }
        @media(max-width:767px) {
            flex: 0 0 calc(50% - 13px);
        }
        &.hidden {
            display: none;
        }
        &:hover {
            & .mileage__item-name {
                color: #2C64EE;
            }
        }
    }

    &__item-pic {
        width: 39px;
        display: flex;
        justify-content: center;
    }
    &__item-side {
        display: flex;
        gap: 12px;
        align-items: center;
    }
    &__item-name {
        transition: .2s ;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
    }

    &__item-number {
        font-size: 16px;
        line-height: 19px;
        color: #767678;
    }
    &__footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 17px;
        gap: 15px;
        @media(max-width:539px) {
            margin-top: 21px;
            justify-content: flex-start;
        }
    }
    &_filter {
    }


    &_dropdown {
    }
}

.filter {
    display: none;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 26px;
    padding: 50px 33px 16px 33px;
    border-radius: 5px;
    &.active {
        display: block;
    }
    &.popup {
        position: fixed;
        height: 100vh;
        overflow: auto;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 10;
        border-radius: 0;
        padding: 0;
        margin-top: 0px;
        padding-bottom: 100px;
        & .filter__footer-btn_show {
            position: fixed;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%, 0px);
        }
        & .types-swiper {
            display: none;
        }
        & .filter__content {
            padding: 0px;
            row-gap: 0px;
        }
        & .filter__item {
            display: block;
            padding: 6px 2px 8px;
            max-width: calc(100% - 30px);
            margin: 0 auto 20px;
            border-bottom: 0.4px solid #BFBFBF;
            &::after {
                display: none;
            }
        }
        & .filter__item_mark {
            background: #EAE9EF;
            padding: 15px;
            max-width: none;
            border-bottom: none;
            & .filter__item-subtitle {
                border-radius: 5px;
                padding: 15px 21px;
                background: #fff;
            }
        }
        & .filter__footer-btn_show {
            margin: 0 auto  20px;
        }
        & .filter__footer_filter {
            display: none;
        }
        & .filter__header {
            display: flex;
        }
        & .filter__content {
        padding-bottom: 50px;
        }
    }
    &_catalog {
        & .filter__item {
            @media(max-width:539px) {
                display: none;
            }
        }
    }
    &__header {
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(180deg,#fafafa 0,#fcfcfc 100%);
        box-shadow: 0 2px 8px rgba(0,0,0,.04);
        backdrop-filter: blur(6px);
        padding: 44px 16px 7px 7px;
        flex: 0 0 100%;
        display: none;
    }

    &__header-close {
        position: static;
        background: url(../img/icons/close_black.svg) 0 0 no-repeat;
        background-position: center;
    }

    &__header-title {
        margin-left: 53px;
        font-family: 'Rubik';
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    &__header-reset-btn {
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #272727;
    }
    &_markup {
        padding: 50px 10px 16px 17px;
        @media(max-width:539px) {
            display: none;
        }
        & .filter__item {
            max-width: 244px;
            @media(max-width:767px) {
                max-width: none;
            }
        }
        & .filter__footer-btn_reset {
            padding: 13px 26px 11px 23px;
        }
        & .filter__footer-btn_show {
            padding: 19px 28px;
        }
        & .filter__footer-btns {
            gap: 37px;
        }
        .filter__footer-btn_close {
            padding: 18px 17px;
        }
    }
    @media(max-width:767px) {
        padding: 35px 0px;
    }
    @media(max-width:539px) {
        padding: 17px 0px;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        row-gap: 28px;
        column-gap: 10px;
        justify-content: space-between;
        @media(max-width:767px) {
            padding: 0px 18px;
            row-gap: 27px;
        }
        @media(max-width:539px) {
            left: 0px;
            & .filter__item {
                display: none;
                flex: 0 0 100%;
            }
            & .filter__item_m {
                display: flex;
            }
        }
    }

    &__item {
        font-size: 16px;
        line-height: 19px;
        color: #272727;
        flex: calc(33% - 15px);
        max-width: 367px;
        border-bottom: 0.36px solid #ABABAB;
        padding-bottom: 12px;
        display: flex;
        gap: 5px;
        &::before {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #7E7E7E;
            white-space: nowrap;
        }
        @media(max-width:767px) {
            flex: 0 0 calc(50% - 13px);
            padding-bottom: 7px;
        }
        @media(max-width:539px) {
            max-width: none;
        }
        & span {
            white-space: nowrap;
            @media(max-width:539px) {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #7E7E7E;
            }
        }
    }
    &__item-mark {
        &::before {
            content: "Марки и модели";
            display: none;
        }
        @media(max-width:539px) {
            &::before {
                display: block;
            }
            & span {
                display: none;
            }
        }
    }
    &__item-field {
        width: 100%;
        font-size: 16px;
        line-height: 19px;
        color: #272727;
    }

    &__footer {
        margin-top: 26px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        @media(max-width:767px) {
            flex-direction: column;
            padding: 0px 17px;
        }
        @media(max-width:539px) {
            margin-top: 22px;
        }
    }

    &__footer-btns {
        display: flex;
        gap: 8px;
        @media(max-width:539px) {
            flex-wrap: wrap;
        }
    }

    &__footer-btn {
    }
    &__footer-btn_reset {
        padding: 10px 26px 10px 23px;
        @media(max-width:539px) {
            display: none;
        }
        &.active {
            color: #272727;
            border: 1px solid #272727;
        }
    }
    &__footer-btn_close {
        padding: 17px 22px;
        @media(max-width:539px) {
            display: none;
        }
    }
    &__footer-btn_show {
        padding: 17px 33px;
        @media(max-width:539px) {
            padding: 17px 18px;
        }
        &::after {
            content: "авто";
            @media(max-width:539px) {
                content: "предложений";
            }
        }
        & span {
            margin: 0 5px;
            white-space: nowrap;
        }
    }
    &__footer_filter {
        display: none;
        @media(max-width:539px) {
            display: flex;
            height: auto;
        }
    }
}
.filter__item_mark {
    & .filter__item-content {
        overflow: visible;
    }
}
.filter {

    &__model-mark {
        min-width: 613px;
        background: #fff;
        height: 400px;
        box-shadow: 1px 1px 6px rgba(0,0,0,.08);
        border-radius: 5px;
        position: relative;
        padding-right: 5px;
        & .btn-preview {
            display: flex;
            justify-content: space-between;
            flex: 0 0 100%;
            transition: .2s;
            border-radius: 8px;
            height: fit-content;
            padding-left: 20px;
            & .custom-w {
                padding: 12px 0px;
            }
            &:hover {
                background-color: #f0f1f4;
                & .btn-more {
                background-color: #e1e3ea;
                }
            }
        }
        & .btn-more {
            width: 40px;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0px 8px 8px 0px;
            transition: .2s;
            &::after {
                content: "";
                background: url(../img/icons/arrow_discount.svg) 0 0 no-repeat;
                background-size: cover;
                background-position: center;
                width: 10px;
                height: 10px;
                display: block;
                transform: rotate(90deg);
            }
        }
    }
    &__model-mark-list {
        border-right: 1px solid rgba(9,19,52,.16);
        position: relative;
        width: 50%;
        height: 100%;
    }
    &__mark-list {
        padding: 5px;
    }

    &__mark-item-w {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
        &.active {
            & .btn-preview {
                background-color: #f0f1f4;
                & label {
                    font-weight: 500;
                }
                & .btn-more {
                    background-color: #e1e3ea;
                }
            }
            & .filter__model-list-w {
                display: block;
            }
        }
    }

    &__item-checkbox {
    }

    &__custom-input {
    }

    &__model-list {
    }

    &__model-item-w {
        width: 100%;
        display: flex;
        gap: 5px;
        border-radius: 8px;
        & .custom-w {
            padding: 12px 0px;
        }
        & .btn-more {
            background: none;
        }
        &:hover {
            background-color: #f0f1f4;
            & .btn-more {
            background-color: #e1e3ea;
            }
        }
    }
    &__model-list-w {
        position: absolute;
        left: calc(100% + 5px);
        top: 0;
        width: 100%;
        display: none;
        padding-top: 34px;
        max-height: 370px;
        overflow: auto;
        & .filter__item-checkbox {
            padding: 12px 5px;
        }
    }
}
.filter__btn-w {
    display: flex;
    gap: 20px;
}







.new {
    padding-top: 56px;
    @media(max-width:539px) {
        padding-top: 26px;
    }
    &__content {
        margin-top: 26px;
        @media(max-width:539px) {
            margin-top: 12px;
        }
    }

    &__item {
    }
}
.list-cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 17px;
    row-gap: 29px;
    flex-wrap: wrap;
    @media(max-width:539px) {
        row-gap: 22px;
    }
}
.card {
    flex: 0 0 calc(20% - 14px);
    @media(max-width:1023px) {
        flex: 0 0 calc(25% - 13px);
    }
    @media(max-width:899px) {
        flex: 0 0 calc(33.33% - 12px);
    }
    @media(max-width:539px) {
        flex: 0 0 calc(50% - 9px);
    }
    &:hover {
        & img {
            transform: scale(1.04);
        }
        & .card__name  {
            color: #2c64ee;
        }
    }
    &__pic {
        overflow: hidden;
        border-radius: 5px;
        & img {
            transition: .4s;
            width: 100%;
        }
        & picture {
            transition: .4s;
            width: 100%;
        }
    }

    &__name {
        font-size: 16px;
        line-height: 19px;
        color: #0C2F85;
        margin-top: 10px;
        @media(max-width:539px) {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            margin-top: 7px;
        }
    }

    &__info {
        font-size: 16px;
        line-height: 19px;
        color: #7E7E7E;
        margin-top: 6px;
        display: flex;
        gap: 5px;
        align-items: center;
        flex-wrap: wrap;
        @media(max-width:539px) {
            font-size: 14px;
            line-height: 16px;
        }
        & span {
            white-space: nowrap;
            position: relative;
            &:not(:last-child) {
                &::after {
                    content: "·";
                    margin-left: 4px;
                    font-weight: 600;
                }
            }
        }
    }

    &__year {

    }

    &__distance {
    }

    &__price {
        font-weight: 800;
        font-size: 16px;
        line-height: 19px;
        color: #272727;
        margin-top: 7px;
        @media(max-width:539px) {
            font-size: 14px;
            line-height: 16px;
        }
    }
}

.benefit-swiper {
    padding-top: 69px;
    @media(max-width:539px) {
        padding-top: 26px;
    }
    &__wrapper {
    }
    &__slide {
        height: auto;
    }

    &__slide-subtitle {
        font-family: 'Rubik';
        font-weight: 600;
        font-size: 24.0612px;
        line-height: 117.52%;
        letter-spacing: 0.04em;
        position: relative;
        z-index: 2;
        @media(max-width:539px) {
            font-size: 16px;
        }
        & p {
            display: block;
        }
    }

    &__slide-pic {
        margin-top: 23px;
        max-width: 177px;
        position: relative;
        z-index: 2;
        @media(max-width:539px) {
            margin-top: 11px;
        }
        & img {
            width: 100%;
        }
    }

    &__slide-number {
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 237.938px;
        line-height: 117.52%;
        letter-spacing: 0.065em;
        color: #FFFFFF;
        position: absolute;
        right: 42px;
        top: 0;
        @media(max-width:1199px) {
            right: 0;
            font-size: 200px;
        }
        @media(max-width:539px) {
            font-weight: 400;
            font-size: 158.222px;
        }
    }
}
.benefit__item {
    background: #E6EFFF;
    border-radius: 5.45313px;
    position: relative;
    padding: 30px 20px 20px 41px;
    height: 100%;
    @media(max-width:539px) {
        border-radius: 15px;
        padding: 22px 20px 4px 21px;
        & .benefit-swiper__slide-pic {
            max-width: 91px;
        }
    }
    &_red {
        & .benefit-swiper__slide-pic {
            max-width: 138px;
        }
    }
    &_blue {
        & .benefit-swiper__slide-pic {
            max-width: 115px;
        }
    }
}
.types-swiper {
    display: none;
    margin-bottom: 13px;
    @media(max-width:539px) {
        display: block;
    }
}
.types-swiper__slide {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
    & img {
        display: block;
        width: 100%;
        object-fit: cover;
        max-width: 136px;
        @media(max-width:539px) {
            max-width: 88px;
        }
    }
    & span {
        display: block;
        text-align: center;
        font-size: 10.5692px;
        line-height: 12px;
        color: rgba(39, 39, 39, 0.7);
        @media(max-width:539px) {
        }
    }
}
.types-swiper__slide-pic {
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media(max-width:539px) {
        height: 56px;
    }
}

.cards__show-more {
    width: 100%;
    display: none;
    margin-top: 22px;
    @media(max-width:539px) {
        display: flex;
    }
}

.filter {

    &__item {
        position: relative;
        &.active {
            & .filter__item-content {
                display: block;
                @media(max-width:539px) {
                    bottom: 0;
                }
            }
            &::after{
                transform: rotate(180deg);
            }
        }
        &.arrow-hidden {
            @media(max-width:539px) {
                & .filter__item-subtitle {
                    flex-direction: column;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 12px;
                    color: #7E7E7E;
                }
            }
            &::after{
                display: none;
            }
        }
        &::after {
            content: "";
            position: absolute;
            right: 5px;
            top: 5px;
            background: url(../img/icons/arrow_grey_filter.svg) 0 0 no-repeat;
            background-size: cover;
            width: 17px;
            height: 8.5px;
            transition: .2s;
        }
    }

    &__item-mark {
    }

    &__item-header {
        cursor: pointer;
        width: 100%;
        z-index: 2;
    }

    &__item-subtitle {
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #272727;
        display: flex;
        justify-content: space-between;
        @media(max-width:539px) {
            color: #7E7E7E;
        }
        & span {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            max-width: 50%;
            overflow: auto;
            scrollbar-width: thin;
            scrollbar-color: #2C64EE #DFE9EB;
            @media(max-width:539px) {
                max-width: none;
            }
              
              /* Chrome, Edge and Safari */
              &::-webkit-scrollbar {
                width: 3px;
                width: 3px;
                height: 3px;
              }
              &::-webkit-scrollbar-track {
                border-radius: 5px;
                background-color: #DFE9EB;
              }
              
              &::-webkit-scrollbar-track:hover {
                background-color: #B8C0C2;
              }
              
              &::-webkit-scrollbar-track:active {
                background-color: #B8C0C2;
              }
              
              &::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background-color: #2C64EE;
              }
              
              &::-webkit-scrollbar-thumb:hover {
                background-color: #1078EE;
              }
              
              &::-webkit-scrollbar-thumb:active {
                background-color: #162CEE;
              }
        }
    }
    &__item_year {
        @media(max-width:539px) {
            & i {
                display: none;
            }
            .custom-w input:checked + .filter__custom-input + span {
                color: #000;
              }
        }
    }
    &__item-content {
        display: none;
        position: absolute;
        background: #FFFFFF;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.08);
        border-radius: 5px;
        top: calc(100% - 2px);
        width: 100%;
        z-index: 5;
        height: auto;
        max-height: 300px;
        overflow: auto;
        transition: .4s;
        @media(max-width:539px) {
            position: fixed;
            top: auto;
            bottom: -120%;
            width: 100%;
            left: 0;
            border-radius: 25px 25px 0px 0px;
            max-height: 360px;
            display: block;
        }
    }
    &__item-checkbox {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        font-family: 'Rubik';
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #272727;
        cursor: pointer;
        position: relative;

        &.disabled {

            &::after {
                // content: "";
                // width: 100%;
                // height: 100%;
                // left: 0;
                // top: 0;
                // position: absolute;
                // background: #0C2F85;
                // z-index: 5;
            }
            & i {
                width: 100%;
                height: 100%;
                background: rgb(225,227,234);
                &:hover {
                    border: 0px solid transparent;
                }
            }
            & span {
                color: rgba(9,19,52,.4);
            }
        }
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
    & .blur {
        position: relative;
        @media(max-width:539px) {
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 100%;
                height: 36px;
                background: #fff;
                opacity: 0.9;
            }
        }
    }
    & .filter__item-content_year {
        overflow: none;
        max-height: none;
    }
    & .filter__item-list_year {
        height: auto;
        max-height: 200px;
        overflow: auto;
        @media(max-width:539px) {
            max-height: 119px;
        }
    }
    &__item-list {
        padding: 10px 20px 37px;
        @media(max-width:539px) {
            max-height: 150px;
            overflow: auto;
            position: relative;

        }
        &_flex {
            display: flex;
            gap: 15px;
        }
    }
    &__item-content-footer {
        display: none;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px 20px;
        gap: 5px;
        @media(max-width:539px) {
            display: flex;
        }
    }
    &__item-content-reset {
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #7E7E7E;
        
    }
    &__item-content-done {
        font-family: 'Rubik';
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #2C64EE;
    }
    &__item-close {
        background: url(../img/icons/close_grey.svg) 0 0 no-repeat;
        background-size: cover;
        width: 12px;
        height: 12px;
        position: absolute;
        right: 22px;
        top: 20px;
        cursor: pointer;
        transition: .2s;
        &:hover {
            transform: scale(1.2);
        }
        @media(max-width:539px) {
            display: none;
        }
    }
    &__item-content-title {
        display: none;
        padding: 20px 15px 10px;
        @media(max-width:539px) {
            display: block;
            font-family: 'Rubik';
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
        }
    }
    &__item-content-top {
        display: flex;
        gap: 15px;
        background: #FFFFFF;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.08);
        border-radius: 5px;
        padding: 20px 20px 13px 20px;
        @media(max-width:539px) {
            box-shadow: none;
            padding: 20px 15px 13px 15px;
        }
        &_grey {
            @media(max-width:539px) {
                background: #F4F4F4;
                border-radius: 5px;
                max-width: calc(100% - 30px);
                margin: 0 auto;
                padding: 6px 80px;
                justify-content: space-between;
                & b {
                    flex: 0;
                    text-transform: lowercase;
                }
            }

        }
        & b {
            flex: calc(50% - 7.5px);
        }
    }
    &__item-side {
        flex: calc(50% - 7.5px);
        @media(max-width:539px) {
            height: 100%;
        }
    }
    &__item-side_left {
        @media(max-width:539px) {
            padding-left: 74px;
            & .filter__item-checkbox {
                justify-content: flex-start;
                text-align: right;
            }
        }
    }
    &__item-side_right {
        @media(max-width:539px) {
            padding-right: 74px;
            & .filter__item-checkbox {
                justify-content: flex-end;
                text-align: left;
            }
        }
    }
    &__item-input {
        border: 1.2px solid #767678;
        border-radius: 5px;
        padding: 10px 5px;
        width: 100%;
        margin-top: 5px;
        &:hover {
            border: 1.2px solid #2C64EE;
        }
        &:focus {
            box-shadow: 0px 0px 4px 0px rgb(131, 187, 230);
            border: 1.2px solid #2C64EE;
        }
    }
}

