.slide-pic_tires {
  width: 250px;
  max-width: none;
  flex: auto;
  @media(max-width:899px) {
    width: 200px;
  }
}
.stock__title  {
  @media(max-width:899px) {
    & h2 {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      color: #272727;
    }
  }


}
.wrapper_stock {
  min-height: 100%;
  & .footer-w {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }
}


.stock {

  &__content {
    padding-top: 40px;
    @media(max-width:899px) {
      padding-top: 20px;
    }
  }

  &__list {
    display: flex;
    column-gap: 36px;
    row-gap: 20px;
    flex-wrap: wrap;
    @media(max-width:899px) {
      column-gap: 20px;
      row-gap: 20px;
    }

  }

  &__list-item {
    box-shadow: 2px 2px 13px 6px rgba(39, 39, 39, 0.04);
    border-radius: 5px;
    flex: 0 0 calc(33.333% - 24px);
    display: flex;
    flex-direction: column;
    @media(max-width:899px) {
      flex: 0 0 calc(50% - 10px);
    }
    @media(max-width:539px) {
      flex-direction: row-reverse;
      background: #E6EFFF;
      gap: 15px;
      flex: 0 0 100%;
      padding: 33px 15px;
      align-items: center;
      justify-content: space-between;
    }
    @media(max-width:399px) {
      padding: 15px 15px;
    }
  }

  &__item-pic {
    background: #E6EFFF;
    overflow: hidden;
    padding-bottom: 44.3%;
    position: relative;
    @media(max-width:539px) {
      background: none;
      flex: 1 0 36%;
      padding-bottom: 0px;
      max-height: 110px;
      overflow: visible;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & img {
      height: 100%;
      left: 50%;
      top: 50%;
      max-width: 74%;
      object-fit: cover;
      object-position: center;
      position: absolute;
      width: 100%;
      transform: translate(-50%, -50%);
      @media(max-width:539px) {
        position: static;
        width: auto;
        max-width: 100%;
        transform: translate(0, 0);
        object-fit: cover;
        height: 100%;
      }
    }
  }

  &__item-text {
    padding: 19px 26px 19px 26px;
    @media(max-width:899px) {
      padding: 15px 18px;
    }
    @media(max-width:539px) {
      padding: 0px;
    }
    & h5 {
      font-family: 'Rubik';
      font-weight: 600;
      font-size: 22px;
      line-height: 110%;
      text-transform: uppercase;
      color: #323232;
      @media(max-width:899px) {
        font-size: 20px;
      }
      @media(max-width:539px) {
        font-weight: 600;
        font-size: 20px;
        line-height: 127%;
        letter-spacing: 0.005em;
        text-transform: uppercase;
        color: #323232;

      }
    }
    & p {
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #323232;
      display: block;
      margin-top: 6px;
      @media(max-width:899px) {
        font-size: 15px;
      }
      @media(max-width:539px) {
        font-weight: 700;
        font-size: 11.0067px;
        line-height: 13px;
        color: #323232;
      }
    }
  }
}
.container {
}
