.carloan_tradeIn {
    & .carloan__preview-content {
        padding: 0px;
        align-items: flex-end;
        justify-content: space-between;
        @media (max-width: 539px) {
            align-items: center;
        }
    }
    & .carloan__text {
        padding: 37px 0 50px 29px;
        @media (max-width: 539px) {
            padding: 15px 0 15px 15px;
        }
    }
    & .carloan__title {
        white-space: nowrap;
        @media (max-width: 767px) {
            font-size: 43px;
        }
        @media (max-width: 539px) {
            font-size: 30px;
        }
        @media (max-width: 479px) {
            font-size: 20px;
        }
        & span {
            @media (max-width: 767px) {
                font-size: 43px;
            }
            @media (max-width: 539px) {
                font-size: 37px;
            }
            @media (max-width: 479px) {
                font-size: 28px;
            }
        }
    }
    & .carloan__pic {
        @media (max-width: 539px) {
            max-width: 250px;
        }
    }
}