@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;

}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  &.fixed {
    overflow-y: hidden;
  }
}
input, button, textarea {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #7E7E7E;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;

}
a {
  color: #000000;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  --width__nav-item: 0px;
}
body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}


.wrapper {
  position: relative;
  padding-top: 30px;
}
.container {
  max-width: 1310px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.logo {
  font-family: 'Rubik';
  font-weight: 600;
  font-size: 39.0611px;
  line-height: 110%;
  text-transform: uppercase;
  color: #323232;
}
.active {
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 5px;
  border-radius: 10px;
  transition: .2s;
  font-family: 'Rubik';
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  position: relative;
  height: fit-content;
  width: fit-content;
  &::before {
    content: "";

  }
		&_blue {
      background: #2C64EE;
      &:hover {
        background: #274daf;
      }
		}
    &_grey {
      border: 1px solid #D9D9D9;
      border-radius: 10px;
      color: #ABABAB;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #ABABAB;
    }
    &_phone {
      gap: 11px;
      padding: 17px 29px;
      &::before {
        background: url(../img/icons/phone.svg) 0 0 no-repeat;
        background-size: cover;
        width: 21.88px;
        height: 22.71px;
        @media(max-width:1199px) {
          width: 17px;
          height: 18px;
        }
      }
    }
    &_filter {
      gap: 7px;
      padding: 11px 23px;
      font-size: 16px;
      line-height: 19px;
      & span {
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: #2C2C2C;
        border-radius: 50%;
        background: #fff;
        width: 19px;
        height: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &::before {
        background: url(../img/icons/filter.svg) 0 0 no-repeat;
        background-size: cover;
        width: 17px;
        height: 13px;
      }
    }
    &_dropdown {
      gap: 4px;
      padding: 9px 28px;
      border: 1px solid #7E7E7E;
      border-radius: 5px;
      color: #7E7E7E;
      font-size: 16px;
      line-height: 19px;
      &::before {
        background: url(../img/icons/Arrow.svg) 0 0 no-repeat;
        background-size: cover;
        width: 8px;
        height: 11px;
      }
    }
}

h2 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #272727;
}
h3 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #272727;
}